# Server Configuration
PORT=5000

# Database Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net

# Authentication Secret
JWT_SECRET=your_super_secret_jwt_key_here

AI_PROVIDER=gemini

GEMINI_API_KEY=

